In [1]:
import pandas as pd

In [60]:
abp_data = pd.read_csv('example_abp_data.csv')
input_data = pd.read_csv('example_input_data.csv')

In [4]:
print(abp_data.info(), input_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2764 entries, 0 to 2763
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SINGLE_LINE_ADDRESS  2764 non-null   object
 1   POSTCODE             2764 non-null   object
 2   STREET_NAME          2520 non-null   object
dtypes: object(3)
memory usage: 64.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address_Line_1  100 non-null    object
 1   Address_Line_2  90 non-null     object
 2   Address_Line_3  83 non-null     object
 3   Address_Line_4  45 non-null     object
 4   Address_Line_5  14 non-null     object
 5   Postcode        100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB
None None

In [6]:
abp_data.head()

                                 SINGLE_LINE_ADDRESS POSTCODE    STREET_NAME
0  PACEC, SECOND FLOOR, 49-53 REGENT STREET, CAMB...  CB2 1AB  REGENT STREET
1  FIRST FLOOR, 47-53 REGENT STREET, CAMBRIDGE, C...  CB2 1AB  REGENT STREET
2  BUBBLE LTD, SUITE 1, RAVENSCROFT HOUSE, 59-61 ...  CB2 1AB  REGENT STREET
3  EDE & RAVENSCROFT, SUITE 2, RAVENSCROFT HOUSE,...  CB2 1AB  REGENT STREET
4  CAMBRIDGE NUTRACEUTICALS LTD, SUITE 3, RAVENSC...  CB2 1AB  REGENT STREET

In [62]:
input_data.head()

,Address_Line_1,Address_Line_2,Address_Line_3,Address_Line_4,Address_Line_5,Postcode
0,UNIT 3,39-41 MOORBRIDGE ROAD,MAIDENHEAD,BERKSHIRE,NaN,SL6 8LT
1,4 WORKSHOP,PERCY ROAD,DARLINGTON,NaN,NaN,DL3 0RX
2,SAXON HOUSE,HENSON WAY,TELFORD WAY INDUSTRIAL ESTATE,KETTERING,NN16 8PX,NN16 8PX
3,1 QUARRY ROAD,NORTHAMPTON,NN5 6NT,NaN,NaN,NN5 6NT
4,METER R/O UNIT 54 UNKNOWN SUPPLY,DALTON PARK,MURTON,SEAHAM,NaN,SR7 9HU

In [71]:
def check_address(postcode, address_lines, abp_data):
    """
    Check if any of the address lines appear in the STREET_NAME or SINGLE_LINE_ADDRESS columns of abp_data for a given postcode.

    Parameters:
    postcode (str): The postcode to match in the abp_data DataFrame.
    address_lines (list): A list of address lines to check against the STREET_NAME and SINGLE_LINE_ADDRESS columns.
    abp_data (DataFrame): The DataFrame containing SINGLE_LINE_ADDRESS, POSTCODE, and STREET_NAME columns.

    Returns:
    str: 'Yes' if any address line appears in STREET_NAME for the same postcode, 'No' otherwise.
    """
    matching_rows = abp_data[abp_data['POSTCODE'] == postcode]
    for _, row in matching_rows.iterrows():
        street_name = row['STREET_NAME']
        full_address = row['SINGLE_LINE_ADDRESS']
        if pd.notna(street_name):  # Check if street_name is not NaN
            for line in address_lines:
                if (line.upper() in street_name.upper()) or (line.upper() in full_address.upper()): # Return 'Yes' if in either STREET_NAME or SINGLE_LINE_ADDRESS
                    return 'Yes'
        # If STREET_NAME is NaN but correct address is in SINGLE_LINE_ADDRESS return 'Yes'
        elif pd.isna(street_name):
            for line in address_lines:
                if line.upper() in full_address.upper():
                    return 'Yes'
    return 'No'

def create_street_in_postcode_col(input_data, abp_data):
    """
    Update the input_data DataFrame with a 'Street_In_Postcode' column indicating if any address lines appear in STREET_NAME or SINGLE_LINE_ADDRESS for the same postcode.

    Parameters:
    input_data (DataFrame): The DataFrame containing address lines and postcodes.
    abp_data (DataFrame): The DataFrame containing SINGLE_LINE_ADDRESS, POSTCODE, and STREET_NAME columns.

    Returns:
    DataFrame: The updated input_data DataFrame with the 'Street_In_Postcode' column.
    """
    input_data['Street_In_Postcode'] = input_data.apply(
        lambda row: check_address(
            row['Postcode'],
            [str(line) if pd.notna(line) else '' for line in [
            row['Address_Line_1'], row['Address_Line_2'], row['Address_Line_3'], row['Address_Line_4'], row['Address_Line_5']
        ]],
            abp_data
        ),
        axis=1
    )
    return input_data

Only issue with this implementation is that if only the town appears in the full address, then we return yes.

Also not sure if they want me to check just the STREET_NAME column or also the SINGLE_ADDRESS_LINE column.

In [74]:
input_data = create_street_in_postcode_col(input_data, abp_data)

In [73]:
input_data.head(60)

,Address_Line_1,Address_Line_2,Address_Line_3,Address_Line_4,Address_Line_5,Postcode,Street_In_Postcode
0,UNIT 3,39-41 MOORBRIDGE ROAD,MAIDENHEAD,BERKSHIRE,NaN,SL6 8LT,No
1,4 WORKSHOP,PERCY ROAD,DARLINGTON,NaN,NaN,DL3 0RX,Yes
2,SAXON HOUSE,HENSON WAY,TELFORD WAY INDUSTRIAL ESTATE,KETTERING,NN16 8PX,NN16 8PX,Yes
3,1 QUARRY ROAD,NORTHAMPTON,NN5 6NT,NaN,NaN,NN5 6NT,Yes
4,METER R/O UNIT 54 UNKNOWN SUPPLY,DALTON PARK,MURTON,SEAHAM,NaN,SR7 9HU,Yes
5,UNIT 17,MAITLAND ROAD,NEEDHAM MARKET,IPSWICH,IP6 8NZ,IP6 8NZ,Yes
6,NORTH MALTING THE MALTINGS,FELAW STREET,IPSWICH,IP2 8HD,NaN,IP2 8HD,Yes
7,19-21 REGENT STREET,NaN,NaN,NaN,CAMBRIDGE,CB2 1AB,Yes
8,UNIT 3 RIVERSIDE HOUSE,24 LOWER SOUTHEND ROAD,WICKFORD,NaN,NaN,SS11 8AW,Yes
9,WORKSHOP JOHNS AUTOS,TEMPERANCE PLACE,DARLINGTON,NaN,NaN,DL3 6LP,Yes
10,WEMBLEY GARDENS,NaN,CAMBOIS,BLYTH,NaN,NE24 1RZ,Yes
11,SITE 4/5,COQUET ENTERPRISE PARK,AMBLE,MORPETH,NaN,NE65 0PE,Yes
12,SHOP,68 EASTBOURNE ROAD,MIDDLESBROUGH,NaN,NaN,TS5 6QL,Yes
13,UNIT 3,ALBERT ROAD,RUSHDEN,NN10 0BU,NaN,NN10 0BU,Yes
14,3 CARR STREET,BLYTH,NaN,NaN,NaN,NE24 4NG,Yes
15,LINCOLN ROAD,NETTLEHAM,LINCOLN,LN2 2NE,NaN,LN2 2NE,Yes
16,"1 Church Lane, Field",NaN,NaN,NaN,NaN,CO3 8PB,Yes
17,IN WAREHOUSE,ATLAS RD,NaN,LONDON,NaN,NW10 6DD,Yes
18,CHARFLEETS ROAD,NaN,NaN,CANVEY ISLAND,NaN,SS8 0SG,Yes
19,Crackenedge Lane,Dewsbury,West Yorkshire,NaN,NaN,WF13 1PT,Yes
20,TOILETS & PREMISES,PARK ROAD,ASHINGTON,NaN,NaN,NE63 9NF,Yes
21,SHOP,66 STATION ROAD,UPMINSTER,NaN,NaN,RM14 2TD,Yes
22,IMPERIAL WAY,NaN,WATFORD,HERTFORDHSIRE,NaN,WD24 4LQ,Yes
23,Trough Field Supply,Delgate Bank,Weston Hills,SPALDING,NaN,PE12 6DW,Yes
24,Brankley House,Plot 6,Far End,Boothby Graffoe,LINCOLN,LN5 0LG,Yes
25,UNIT 7 CLIFFSIDE TRADE PARK,MOTHERWELL WAY,GRAYS,NaN,NaN,RM20 3XD,Yes
26,SOUTHWICK GOLD GLOVES 1ST FLR,24 THE GREEN,SOUTHWICK,SUNDERLAND,NaN,SR5 2JE,Yes
27,5 WOODSIDE PARADE,257 WOODSIDE,LEIGH ON SEA,NaN,NaN,SS9 4SS,Yes
28,185 FELIXSTOWE ROAD,IPSWICH,IP3 9BJ,NaN,NaN,IP3 9BJ,Yes
29,2 CORNWALLIS ROAD,NaN,NaN,NaN,LINCOLN,LN3 4PD,Yes
30,RIVERS EDGE HOTEL RIVERSIDE PARK,GREEN LANE,FRIARS GOOSE,GATESHEAD,NaN,NE10 0SB,Yes
31,METER FOR UNIT 7 & UNIT 8,SOUTHCHURCH ROAD,.,SOUTHEND ON SEA,.,SS1 2PE,Yes
32,1A MIDDLESBROUGH ROAD WEST,SOUTH BANK,MIDDLESBROUGH,NaN,NaN,TS6 6NS,Yes
33,N11,Mablethorpe Chalet Park,Links Avenue,MABLETHORPE,NaN,LN12 1QN,Yes
34,1-3 DEWEY ROAD,NaN,NaN,DAGENHAM,NaN,RM10 8AR,Yes
35,UNIT 5,BRINELL WAY,GREAT YARMOUTH,NaN,NaN,NR31 0LU,Yes
36,Unit 7,Telford Park,"Telford Road,","Clacton on Sea, Essex",NaN,CO15 4LP,Yes
37,.,.,2 HAMPDEN ROAD,.,HITCHIN,SG4 0LD,Yes
38,UNIT 5D INDUSTRIAL ESTATE,GALLAMORE LANE,MARKET RASEN,LN8 3HZ,NaN,LN8 3HZ,Yes
39,9/10 2ND METER,DEFENDER COURT,SUNDERLAND,NaN,NaN,SR5 3PE,Yes
40,15-17 SHOP,WEST PERCY STREET,NORTH SHIELDS,NaN,NaN,NE29 0AH,Yes
41,Haigh Street,LIVERPOOL,NaN,NaN,NaN,L3 8NP,Yes
42,FACTORY INSHORE FISH & FROZEN FDS,TOD POINT ROAD,REDCAR,NaN,NaN,TS10 5BE,Yes
43,Glassthorpe Lane,Hill Farm,Trough,Harpole,NORTHAMPTON,NN7 4DU,Yes
44,BLAKE AVENUE,NaN,BARKING,DAGENHAM,NaN,IG11 9RT,Yes
45,WARWICK HOUSE,48 COLLINGWOOD ROAD,WITHAM,NaN,NaN,CM8 2DZ,Yes
46,1-2 1ST FLR,RAILWAY TERRACE,SUNDERLAND,NaN,NaN,SR4 0PA,Yes
47,UNIT 1 LLOYDS COURT,CLEVELAND STREET,DARLINGTON,NaN,NaN,DL1 2PB,Yes
48,3,CAUTLEY ROAD,NaN,NaN,SOUTHWOLD,IP18 6DD,Yes
49,BALFOUR BEATTY RAIL OFFICES,FELIXSTOWE RD,NaN,LONDON,NaN,SE2 9RN,Yes
50,"DUNE, EAST FARM HOUSE",EMBLETON,ALNWICK,NaN,NaN,NE66 3XB,Yes
51,UNIT 2,LUSTRUM AVENUE,STOCKTON ON TEES,NaN,NaN,TS18 2RB,Yes
52,41 GASKELL AVENUE,SOUTH SHIELDS,NaN,NaN,NaN,NE34 9TQ,Yes
53,9 Scossels,Glemsford,SUDBURY,NaN,NaN,CO10 7UR,Yes
54,66 SHOP - UNIT 11,HUDSON STREET,NORTH SHIELDS,NaN,NaN,NE30 1DL,Yes
55,SHOP,1B MAIN STREET,CRAWCROOK,RYTON,NaN,NE40 4TX,Yes
56,TAP SUPPLY - ST NICHOLAS CEMETERY,NUNS MOOR ROAD,NEWCASTLE UPON TYNE,NaN,NaN,NE4 9AU,Yes
57,Unit 2,Top Angel,Buckingham Industrial Estate,BUCKINGHAM,MK18 1TH,MK18 1TH,Yes
58,OFFICE R/O 71,HIGH STREET,CANVEY ISLAND,NaN,NaN,SS8 7RD,Yes
59,FINNINGLEY QUARRY,CROFT ROAD,FINNINGLEY,DONCASTER,NaN,DN9 3DW,Yes

In [57]:
input_data.loc[input_data['Postcode'] == 'SL6 8LT']

,Address_Line_1,Address_Line_2,Address_Line_3,Address_Line_4,Address_Line_5,Postcode,Match
0,UNIT 3,39-41 MOORBRIDGE ROAD,MAIDENHEAD,BERKSHIRE,NaN,SL6 8LT,No

In [56]:
abp_data.loc[abp_data['POSTCODE'] == 'SL6 8LT']

Empty DataFrame
Columns: [SINGLE_LINE_ADDRESS, POSTCODE, STREET_NAME]
Index: []